<div class="background-gradiente">
    <h3>PASSE UM LIVRO ADIANTE</h3>
    <p>Para os amantes da leitura, apaixonados por livros, esse projeto é para você.</p><br>
    <p>Sei que é maravilhoso deixar os livros na estante como um troféu de leitura, mas livros foram feitos para serem lidos. </p>
    <p>Os livros que mais gostamos são os que devemos passar adiante.</p>  
    <img src="./../../assets/img/book1.jpg"/><br>
    <p><strong> Quer ser um colaborador da leitura?</strong></p>
    <p>Venha fazer parte desse projeto e <strong>passe um livro adiante</strong>.</p>
    <button>Criar conta</button>
</div>
